/*
*{
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
}
*/

body{
    background: #1e1e1e
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul{
    list-style-type: none;
}

nav ul li a{
    color: #569cd6;
    text-decoration: none;
    margin:20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #569cd6;
    position: absolute;
    left: 0;
    bottom: -4px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text h1{
    font-size: 60px;
    margin-top: 30px;
    font-family:'Courier New', Courier, monospace;
    color: #ce9178;
}

.header-text p{
    margin-top: -30px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #569cd6;
}

